site_name: FitStream
docs_dir: docs

nav:
  - Home: index.md
  - Tutorial: tutorial.md
  - API Reference: reference.md

plugins:
  - mkdocstrings:
      handlers:
        python:
          paths:
            - src
